
.form-group > input {
    text-align: center;
}

.box-header > h3,h5 {
    color: #605ca8;
}

.box-footer > button {
    float: right;
    color: white;
}

.box-footer > a {
    background-color: #dae0e5;
}
